.App {
  text-align: center;
  display: flex;
  background-color: #00133a;
  color: #e5e5e5;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.sidemenu{
  width: 15%;
  border: 1px solid #e5e5e5;
  background: linear-gradient(30deg, hsla(244, 100%, 23%, 0.323), #000000);
}

.side-logo{
  margin: auto;
  height: 50%;
  width: 60%;
  padding: 12px;
  text-align: left;
  font-size: 0.8rem;
  font-weight: bold;
  color: #e5e5e5;
}

.chatbox{
  height: 95%;
  border: 0;
  flex: 1;
  background: linear-gradient(30deg, hsla(244, 100%, 23%, 0.323), #000000);
  position: relative;
  overflow-y: scroll;
}

.chat-log {
  padding: 24px;
  text-align: left;
  overflow-y: auto;
  scroll-behavior: smooth;
}


.side-menu-button {
  padding: 12px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: left;
  transition: ease 0.25s all;
}

.side-menu-button span{
  padding-left: 6px;
  padding-right: 12px;
}

.side-menu-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.chat-input{
  height: 20%;
}

.custom-button{
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.317);
  border-radius: 5px;
  transition: ease 0.25s all;
  background-color: rgba(170, 142, 237, 0.045);
  width: fit-content;
  color: aliceblue;
}

.custom-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.chat-input-holder {
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom:  10px;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 80%;
  margin: 0;
}

.chat-input-textarea {
  background: linear-gradient(30deg, #012a53, #070064);
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  border-color: none;
  color: white;
  font-size: 1.2rem;
  padding: 18px;
}


.chat-message {
  width: 50%;
  background: linear-gradient(30deg, #445566, #0f0035);
  padding: 12px;
  border-radius: 15px;
  margin-bottom: 30px;
  text-align: left;
  float: left;
  clear: both;
  overflow-y: auto;
}

.chat-message.chatgpt {
  width: 60%;
  background: linear-gradient(30deg, #001068, #2f2c2c);
  float: right;
  clear: both;
  /* background-color: rgba(255, 255, 255, 0.1); */
}


.chat-message-center {
  padding: 12px;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 480px;
  display: flex
}

.avatar {
  background: rgb(221, 0, 255);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
}

.avatar.chatgpt {
  background: #000b56;
  display: flex;
}

.message {
  padding-left: 40px;
  padding-right: 40px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
